


<div>
    <h1>Welcome to the Application </h1>
     <h3>Login Portal</h3>
      <form>
        <div class="container1">
          <label for="email">Email</label><br>
          <input  required  type="text"><br>
          <label for="password">Password</label><br>
          <input  type="password"><br>
          <button>Submit</button>
        </div>
        

      </form>
  </div>
<br>
<br>
  <div>

      <h4>If u are new user? just create New accout</h4>
       <form>
         <div class="container">
            <label for="name">Name:</label><br>
           <input  required  type="text"><br>
           <label for="email">Email:</label><br>
           <input  required  type="text"><br>
           <label for="password">Create Password:</label><br>
           <input  type="password"><br>
           <label for="type">Role:</label><br>
           <input  type="text"><br>
           <button>Sign Up</button>
         </div>
         
       </form>
   </div>